*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
fornecedores/fornecedores/mvc/[Dd]ebug/
fornecedores/mvc/[Dd]ebugPublic/
fornecedores/mvc/[Rr]elease/
fornecedores/mvc/[Rr]eleases/
fornecedores/mvc/x64/
fornecedores/mvc/x86/
fornecedores/mvc/build/
fornecedores/mvc/bld/
fornecedores/mvc/[Bb]in/**
fornecedores/mvc/[Oo]bj/**
fornecedores/mvc/[Oo]ut/**
fornecedores/mvc/msbuild.log
fornecedores/mvc/msbuild.err
fornecedores/mvc/msbuild.wrn



fornecedores/tests/[Dd]ebug/
fornecedores/tests/[Dd]ebugPublic/
fornecedores/tests/[Rr]elease/
fornecedores/tests/[Rr]eleases/
fornecedores/tests/x64/
fornecedores/tests/x86/
fornecedores/tests/build/
fornecedores/tests/bld/
fornecedores/tests/[Bb]in/**
fornecedores/tests/[Oo]bj/**
fornecedores/tests/[Oo]ut/**

# Visual Studio 2015
.vs/
