*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
mvc/[Dd]ebug/
mvc/[Dd]ebugPublic/
mvc/[Rr]elease/
mvc/[Rr]eleases/
mvc/x64/
mvc/x86/
mvc/build/
mvc/bld/
mvc/[Bb]in/
mvc/[Oo]bj/
mvc/[Oo]ut/
mvc/msbuild.log
mvc/msbuild.err
mvc/msbuild.wrn



tests/[Dd]ebug/
tests/[Dd]ebugPublic/
tests/[Rr]elease/
tests/[Rr]eleases/
tests/x64/
tests/x86/
tests/build/
tests/bld/
tests/[Bb]in/
tests/[Oo]bj/
tests/[Oo]ut/

# Visual Studio 2015
.vs/
