@model mvc.Models.FornecedorViewModel

@{
    ViewData["Title"] = "Novo fornecedor";
}

<h1>Nova fornecedor</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Novo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdEmpresa" class="control-label"></label>
            <select asp-for="IdEmpresa" asp-items="@ViewBag.Empresas" class="form-control">
            </select>

                <span asp-validation-for="IdEmpresa" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label>
                    <input type="radio" name="TipoPessoa" asp-for="TipoPessoa" checked value="PJ"/>Pessoa jurídica
                </label>
                <label>
                    <input type="radio" name="TipoPessoa" asp-for="TipoPessoa"  value="PF"/>Pessoa fisíca
                </label>
                <span asp-validation-for="TipoPessoa" class="text-danger"></span>
            </div>
            
            <div id="dadosPJ">
                <div class="form-group">
                    <label asp-for="CNPJ" class="control-label"></label>
                    <input asp-for="CNPJ" class="form-control" />
                    <span asp-validation-for="CNPJ" class="text-danger"></span>
                </div>
            </div>

            <div id="dadosPF" style="display:none">
                <div class="form-group">
                    <label asp-for="CPF" class="control-label"></label>
                    <input asp-for="CPF" class="form-control" />
                    <span asp-validation-for="CPF" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RG" class="control-label"></label>
                    <input asp-for="RG" class="form-control" />
                    <span asp-validation-for="RG" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DataNascimento" class="control-label"></label>
                    <input asp-for="DataNascimento" type="date" class="form-control" />
                    <span asp-validation-for="DataNascimento" class="text-danger"></span>
                </div>
            </div>
            <hr/>
            <h3>Telefone</h3>
            <div id="telefones">

                @if(Model != null){
                    for(var i = 0; i < Model.Telefones.Count; i++){

                        <input type="hidden" name="tels" value="@Model.Telefones[i].Numero" indice = "@i" />
                    }
                }

            </div>
            <button class="btn" onclick="adicionarTelefone(event)">Adicionar</button>
<hr/>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Ver fornecedores</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

    var telefones = [{numero: ""}];

    function adicionarTelefone(e){
        e.preventDefault();

        telefones.push({ numero: ""});
        rederizarTelefones();
    }

    function removerTelefone(e, index){
        e.preventDefault();

        if(telefones.length == 1) return;

        telefones.splice(index, 1);
        rederizarTelefones();
    }

    function mudarNumero(index, input){
        telefones[index].numero = input.value;
    }

    function rederizarTelefones(){
        var html = '';
            telefones.forEach((value, i)=>{
               html+= `<div class="row">
                        <div class="form-group col-md-7">
                            <label asp-for="Telefones[${i}].Numero" class="control-label"></label>
                            <input value="${value.numero}" onchange="mudarNumero(${i}, this)" name="Telefones[${i}].Numero" type="tel" class="form-control" />
                            <span asp-validation-for="Telefones[${i}].Numero" class="text-danger"></span>
                        </div>

                        <div class="col-md-3" style="display: flex;align-items: center;">
                            <button class="btn btn-danger" onclick="removerTelefone(event, ${i})">X</button>
                        </div>
                    </div>`;
            });

            $('#telefones').html(html);
    }

        $(document).ready(function () {
            
            mostrarEsconderPf($('input[name$="TipoPessoa"]:checked').val());

            var itens = $('input[name$="tels"]');

            if(itens.length > 0){
                telefones = [];

                for(let i = 0; i< itens.length; i++){
                    telefones.push({ numero: itens[i].value});
                }
                    
            }

            rederizarTelefones();
            
            $('input[name$="TipoPessoa"]').on('click', function(){
                mostrarEsconderPf(this.value);
            });

            function mostrarEsconderPf(value){
                if(value == "PF"){
                    $("#dadosPJ").hide();
                    $("#dadosPF").show();
                    $('#CNPJ').val('');
                }else if(value == "PJ"){
                    $("#dadosPJ").show();
                    $("#dadosPF").hide();
                    $('#RG').val('');
                    $('#CPF').val('');
                    $('#DataNascimento').val('');
                }
            }
        });
    </script>
}